@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #fff;
}

::selection {
  background: #ebeaea;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

main-text-color {
  color:  black;
}


